*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 112.5%; //1rem is 10px = 10/16

  @include respond(tab-land) {
    //width < 992px
    //1rem is 9px = 9/16
  }

  @include respond(tab-port) {
    //width < 768px
    //1rem is 8px = 8/16
    font-size: 87.5%;
  }

  @include respond(phone) {
    //width < 576px
    //1rem is 9px = 9/16
  }

  @include respond(big-desktop) {
    //1rem is 12px = 12/16
  }
}

body {
  box-sizing: border-box;
}

.push {
  padding-left: 10.1rem;
}
