.origin {
  height: 65vh;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../img/FEND-Coffee-bags-2.png);
  background-size: cover;
  background-position: center;

  position: relative;

  &__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30rem;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
