.section {
  position: absolute;

  &-about_image {
    position: relative;
    margin-top: -2rem;
    display: block;
  }
}

.crop {
  &__center {
    width: 60rem !important;
    height: 39.1rem;
    object-fit: cover;
    object-position: center;
  }
}

.image {
  width: auto;
  position: absolute;
  background: #e9e9e9;

  &__explore {
    position: relative;
    height: 40rem;
    object-position: left;
    display: block;
  }
}

.background-color {
  background-color: $color-grey-light;
}
