.navD {
  position: fixed;
  line-height: 2;
  width: 100%;
  color: $color-white;
  background-color: transparent;
  display: flex;
  flex-flow: row-reverse;
  padding: 2rem;
  z-index: 9;
  transition: background-color 0.4s ease-out;

  @include respond(tab-port) {
    display: none;
  }

  &-menu {
    text-decoration: none;
    color: $color-white;
    background-color: transparent;
    font-family: "Roboto", sans-serif;
    font-size: 1.8rem;
    padding: 0 3rem;
    list-style: none;
    display: inline;

    @include respond(tab-port) {
      display: none;
    }
  }
}

.navM {
  position: fixed;
  line-height: 2;
  width: 100%;
  color: $color-white;
  background-color: transparent;
  display: none;
  flex-flow: row-reverse;
  padding: 2rem;
  z-index: 9;
  transition: background-color 0.4s ease-out;

  @include respond(tab-port) {
    display: flex;
  }

  &-menu {
    text-decoration: none;
    color: $color-white;
    background-color: transparent;
    font-family: "Roboto", sans-serif;
    font-size: 1.8rem;
    padding: 0 3rem;
    list-style: none;
    display: flex;

    @include respond(tab-port) {
      display: inline;
    }
  }
}

.hamburger-menu {
  height: 3rem;
}

.overlay-content a {
  padding: 8px;
  text-decoration: none;
  font-size: 5rem;
  color: #ffffff;
  display: none;
  transition: 0.3s;
  font-family: "Roboto", sans-serif;
}

.navbar-fixed-top.scrolled {
  background-color: $color-white !important;
  color: $color-anthrazit;
  transition: background-color 200ms linear;
}

.link-underline {
  position: relative;
  color: $color-white;
  text-decoration: none;

  &:after {
    display: block;
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 1px;
    background-color: $color-white;
    content: "";
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
  }

  &:hover:after {
    width: 100%;
  }
}

.link-underlined {
  position: relative;
  color: $color-white;
  text-decoration: none;

  &:after {
    display: block;
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 1px;
    background-color: $color-white;
    content: "";
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
    width: 100%;
  }
}

.navb {
  position: fixed;
  line-height: 2;
  width: 100%;
  color: $color-black;
  background-color: transparent;
  display: flex;
  flex-flow: row-reverse;
  padding: 2rem;
  z-index: 9;
  transition: background-color 0.4s ease-out;

  &-menu {
    text-decoration: none;
    color: $color-black;
    background-color: transparent;
    font-family: "Roboto", sans-serif;
    font-size: 1.8rem;
    padding: 0 3rem;
    list-style: none;
    display: inline;
  }
}

.navbar-fixed-top.scrolled {
  background-color: $color-white !important;
  color: $color-anthrazit;
  transition: background-color 200ms linear;
}

.linkb-underline {
  position: relative;
  color: $color-black;
  text-decoration: none;

  &:after {
    display: block;
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 1px;
    background-color: $color-black;
    content: "";
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
  }

  &:hover:after {
    width: 100%;
  }
}

.linkb-underlined {
  position: relative;
  color: $color-black;
  text-decoration: none;

  &:after {
    display: block;
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 1px;
    background-color: $color-black;
    content: "";
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
    width: 100%;
  }
}

.nav-mobile {
  align-items: center;
  background-color: #000;
  justify-content: center;
  position: fixed;
  left: 0;
  height: 100vh;
  top: 0;
  width: 100%;
  transform: translate3d(100%, 0, 0);
  transition: transform 0.5s ease-in;
  z-index: 9999;

  &.open {
    transform: translate3d(0, 0, 0);
  }

  ul {
    list-style-type: none;
    li {
      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }

  @include respond(tab-port) {
    display: flex;
  }
}
