.section-about {
  background-color: $color-white;
  padding-top: 11rem;
}

.section-map {
  background-color: $color-white;
  padding: 0;
  margin-top: 8rem;
}

.section-footer {
  background-color: $color-black;
  padding: 10rem;
  margin: 0;
}
