body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.1%;
  color: $color-grey-dark;
  text-transform: none;
  text-decoration: none;
  letter-spacing: normal;
  padding: 3rem;
}

.heading-primary {
  font-weight: 900;
  font-size: 9.6rem;
  line-height: 1.1%;
  text-transform: none;
  letter-spacing: normal;
  color: $color-anthrazit;

  &--main {
    display: block;
    font-size: 6rem;
  }
  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
  }
}

.heading-secondary {
  font-size: 4.8rem;
}

.heading-tertiary {
  font-size: 4.2rem;
}
